fullDeployment.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "type": "String",
      "defaultValue": "australiaeast"
    },
      "workspaceName": {
      "type": "String",
      "metadata": {
        "description": "Name of the Log Analytics workspace in this resource group."
      }
    },
    "dataCollectionEndpoints_AtlassianOrgDCE_name": {
        "type": "String",
        "defaultValue": "AtlassianOrgDCE"
    },
    "dataCollectionRules_AtlassianOrgDCR_name": {
        "type": "String",
        "defaultValue": "AtlassianOrgDCR"
    },
    "workflows_Atlassian_Org_Integration_name": {
      "defaultValue": "Atlassian-Org-Integration",
      "type": "String"
    },
    "AtlassianOrgId": {
      "type": "string",
      "metadata": {
        "description": "Atlassian organisation ID used for the admin events API."
      }
    },
    "keyVaultName": {
      "type": "string",
      "defaultValue": "atlassianapikey",
      "metadata": {
        "description": "Name of the Key Vault to store the Atlassian API key."
      }
    },
    "keyVaultSecretName": {
      "type": "string",
      "defaultValue": "AtlassianAPIKey",
      "metadata": {
        "description": "Name of the secret that stores the Atlassian API key."
      }
    },
    "keyVaultSecretValue": {
      "type": "securestring",
      "metadata": {
        "description": "Value of the Atlassian API key to store in Key Vault."
      }
    },
    "keyVaultConnectionName": {
      "type": "string",
      "defaultValue": "keyvault",
      "metadata": {
        "description": "Name of the Microsoft.Web/connections resource for Key Vault."
      }
  }
},
  "variables": {
    "workspaceResourceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]",
    "keyVaultConnectionId": "[resourceId('Microsoft.Web/connections', parameters('keyVaultConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.KeyVault/vaults",
      "apiVersion": "2023-07-01",
      "name": "[parameters('keyVaultName')]",
      "location": "[parameters('location')]",
      "properties": {
        "sku": {
          "family": "A",
          "name": "Standard"
        },
        "tenantId": "[subscription().tenantId]",
        "networkAcls": {
          "bypass": "AzureServices",
          "defaultAction": "Allow",
          "ipRules": [],
          "virtualNetworkRules": []
        },
        "accessPolicies": [],
        "enabledForDeployment": false,
        "enabledForDiskEncryption": false,
        "enabledForTemplateDeployment": false,
        "enableSoftDelete": true,
        "softDeleteRetentionInDays": 90,
        "enableRbacAuthorization": true,
        "publicNetworkAccess": "Enabled"
      }
    },
    {
      "type": "Microsoft.KeyVault/vaults/secrets",
      "apiVersion": "2023-07-01",
      "name": "[concat(parameters('keyVaultName'), '/', parameters('keyVaultSecretName'))]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
      ],
      "properties": {
        "value": "[parameters('keyVaultSecretValue')]",
        "attributes": {
          "enabled": true
        }
      }
    },
    {
      "type": "Microsoft.Insights/dataCollectionEndpoints",
      "apiVersion": "2023-03-11",
      "name": "[parameters('dataCollectionEndpoints_AtlassianOrgDCE_name')]",
      "location": "[parameters('location')]",
      "properties": {
        "configurationAccess": {},
        "logsIngestion": {},
        "metricsIngestion": {},
        "networkAcls": {
          "publicNetworkAccess": "Enabled"
        }
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/tables",
      "apiVersion": "2022-10-01",
      "name": "[concat(parameters('workspaceName'), '/atlassian_org_CL')]",
      "properties": {
        "schema": {
          "name": "atlassian_org_CL",
          "columns": [
            {
              "name": "TimeGenerated",
              "type": "dateTime"
            },
            {
              "name": "data",
              "type": "dynamic"
            }
          ],
          "displayName": "Atlassian Org Events",
          "description": "Atlassian organisation audit logs via Logs Ingestion API."
        },
        "retentionInDays": 30
      },
        "dependsOn": []
    },
    {
      "type": "Microsoft.Insights/dataCollectionRules",
      "apiVersion": "2023-03-11",
      "name": "[parameters('dataCollectionRules_AtlassianOrgDCR_name')]",
      "location": "[parameters('location')]",
      "properties": {
        "dataCollectionEndpointId": "[resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dataCollectionEndpoints_AtlassianOrgDCE_name'))]",
        "streamDeclarations": {
          "Custom-atlassian_org_CL": {
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              },
              {
                "name": "data",
                "type": "dynamic"
              }
            ]
          }
        },
        "dataSources": {},
        "destinations": {
          "logAnalytics": [
            {
              "workspaceResourceId": "[variables('workspaceResourceId')]",
              "name": "68d97ffda6634873a2142fc6f8189001"
            }
          ]
        },
        "dataFlows": [
          {
            "streams": [
              "Custom-atlassian_org_CL"
            ],
            "destinations": [
              "68d97ffda6634873a2142fc6f8189001"
            ],
            "transformKql": "source\n| extend TimeGenerated = todatetime(data.attributes.processedAt)\n\n",
            "outputStream": "Custom-atlassian_org_CL"
          }
        ]
      },
      "dependsOn": [
        "[resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dataCollectionEndpoints_AtlassianOrgDCE_name'))]",
        "[resourceId('Microsoft.OperationalInsights/workspaces/tables', parameters('workspaceName'), 'atlassian_org_CL')]"
      ]
    },
    {
  "type": "Microsoft.Web/connections",
  "apiVersion": "2016-06-01",
  "name": "[parameters('keyVaultConnectionName')]",
  "location": "[parameters('location')]",
  "properties": {
    "displayName": "[parameters('keyVaultConnectionName')]",
    "api": {
      "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
    },
    "parameterValues": {}
  }
},
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_Atlassian_Org_Integration_name')]",
      "location": "[parameters('location')]",
      "tags": {
        "hidden-SentinelWorkspaceId": "[variables('workspaceResourceId')]"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "AtlassianOrgId": {
              "type": "String"
            },
            "DCELogsIngestionURL": {
              "type": "String"
            },
            "DCRImmutableID": {
              "type": "String"
            },
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "interval": 5,
                "frequency": "Minute",
                "timeZone": "E. Australia Standard Time"
              }
            }
          },
          "actions": {
            "Get_secret": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('AtlassianKey')}/value"
              },
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "inputs",
                    "outputs"
                  ]
                }
              }
            },
            "Initialize_variables": {
              "runAfter": {
                "Get_secret": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "NextUrl",
                    "type": "string",
                    "value": "@concat('https://api.atlassian.com/admin/v1/orgs/', parameters('AtlassianOrgId'), '/events-stream')"
                  },
                  {
                    "name": "DCELogsIngestionURL",
                    "type": "string",
                    "value": "@parameters('DCELogsIngestionURL')"
                  },
                  {
                    "name": "DCRImmutableID",
                    "type": "string",
                    "value": "@parameters('DCRImmutableID')"
                  },
                  {
                    "name": "DCRStreamName",
                    "type": "string",
                    "value": "Custom-atlassian_org_CL"
                  }
                ]
              }
            },
            "UntilNoMorePages": {
              "type": "Until",
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "expression": "@equals(variables('NextUrl'), '')",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "actions": {
                "Get_Atlassian_Events": {
                  "type": "Http",
                  "inputs": {
                    "uri": "@variables('NextUrl')",
                    "method": "GET",
                    "headers": {
                      "Authorization": "Bearer @{body('Get_secret')?['value']}",
                      "Accept": "application/json"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "For_each": {
                  "type": "Foreach",
                  "runAfter": {
                    "Get_Atlassian_Events": [
                      "Succeeded"
                    ]
                  },
                  "foreach": "@body('Get_Atlassian_Events')?['data']",
                  "actions": {
                    "HTTP": {
                      "type": "Http",
                      "inputs": {
                        "uri": "@{variables('DCELogsIngestionURL')}/dataCollectionRules/@{variables('DCRImmutableID')}/streams/@{variables('DCRStreamName')}?api-version=2023-01-01",
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": [
                          {
                            "TimeGenerated": "@{coalesce(todatetime(items('For_each')?['attributes']?['time']), utcNow())}",
                            "data": "@{items('For_each')}"
                          }
                        ],
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://monitor.azure.com/"
                        }
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    }
                  }
                },
                "Set_variable": {
                  "type": "SetVariable",
                  "runAfter": {
                    "For_each": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "name": "NextUrl",
                    "value": "@coalesce(body('Get_Atlassian_Events')?['links']?['next'], '')"
                  }
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "keyvault": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('keyVaultConnectionName'))]",
                "connectionName": "[parameters('keyVaultConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          },
          "AtlassianOrgId": {
            "value": "[parameters('AtlassianOrgId')]"
          },
          "DCELogsIngestionURL": {
            "value": "[reference(resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dataCollectionEndpoints_AtlassianOrgDCE_name')), '2023-03-11', 'full').properties.logsIngestion.endpoint]"
          },
          "DCRImmutableID": {
            "value": "[reference(resourceId('Microsoft.Insights/dataCollectionRules', parameters('dataCollectionRules_AtlassianOrgDCR_name')), '2023-03-11', 'full').properties.immutableId]"
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dataCollectionEndpoints_AtlassianOrgDCE_name'))]",
        "[resourceId('Microsoft.Insights/dataCollectionRules', parameters('dataCollectionRules_AtlassianOrgDCR_name'))]",
        "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]",
        "[resourceId('Microsoft.Web/connections', parameters('keyVaultConnectionName'))]"
      ]
    }
  ]
}
