fullDeployment.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "dataCollectionEndpoints_AtlassianOrgDCE_name": {
      "defaultValue": "AtlassianOrgDCE",
      "type": "String"
    },
    "dataCollectionRules_AtlassianOrgDCR_name": {
      "defaultValue": "AtlassianOrgDCR",
      "type": "String"
    },
    "workspaceName": {
      "type": "String",
      "metadata": {
        "description": "Name of the Log Analytics workspace in this resource group."
      }
    },
    "workflows_Atlassian_Org_Integration_name": {
      "defaultValue": "Atlassian-Org-Integration",
      "type": "String"
    },
    "location": {
      "type": "String",
      "defaultValue": "australiaeast"
    }
  },
  "variables": {
    "workspaceResourceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Insights/dataCollectionEndpoints",
      "apiVersion": "2023-03-11",
      "name": "[parameters('dataCollectionEndpoints_AtlassianOrgDCE_name')]",
      "location": "[parameters('location')]",
      "properties": {
        "configurationAccess": {},
        "logsIngestion": {},
        "metricsIngestion": {},
        "networkAcls": {
          "publicNetworkAccess": "Enabled"
        }
      }
    },
    {
      "type": "Microsoft.Insights/dataCollectionRules",
      "apiVersion": "2023-03-11",
      "name": "[parameters('dataCollectionRules_AtlassianOrgDCR_name')]",
      "location": "[parameters('location')]",
      "properties": {
        "dataCollectionEndpointId": "[resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dataCollectionEndpoints_AtlassianOrgDCE_name'))]",
        "streamDeclarations": {
          "Custom-atlassian_org_CL": {
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              },
              {
                "name": "data",
                "type": "dynamic"
              }
            ]
          }
        },
        "dataSources": {},
        "destinations": {
          "logAnalytics": [
            {
              "workspaceResourceId": "[parameters('workspaceResourceId')]",
              "name": "68d97ffda6634873a2142fc6f8189001"
            }
          ]
        },
        "dataFlows": [
          {
            "streams": [
              "Custom-atlassian_org_CL"
            ],
            "destinations": [
              "68d97ffda6634873a2142fc6f8189001"
            ],
            "transformKql": "source\n| extend TimeGenerated = now()\n\n",
            "outputStream": "Custom-atlassian_org_CL"
          }
        ]
      },
      "dependsOn": [
        "[resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dataCollectionEndpoints_AtlassianOrgDCE_name'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_Atlassian_Org_Integration_name')]",
      "location": "[parameters('location')]",
      "tags": {
        "hidden-SentinelWorkspaceId": "[parameters('workspaceResourceId')]"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "DCELogsIngestionURL": {
              "type": "string"
            },
            "DCRImmutableID": {
              "type": "string"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "time": {
                                "type": "string"
                              },
                              "action": {
                                "type": "string"
                              },
                              "actor": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "picture": {
                                    "type": "string"
                                  },
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "alt": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "auth": {
                                    "type": "object",
                                    "properties": {
                                      "authType": {
                                        "type": "string"
                                      },
                                      "tokenId": {
                                        "type": "string"
                                      },
                                      "tokenName": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "context": {
                                "type": "array"
                              },
                              "container": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "traceId": {
                                          "type": "string"
                                        },
                                        "fullPath": {
                                          "type": "string"
                                        },
                                        "siteHostName": {
                                          "type": "string"
                                        },
                                        "query:from": {
                                          "type": "string"
                                        },
                                        "query:to": {
                                          "type": "string"
                                        },
                                        "siteName": {
                                          "type": "string"
                                        },
                                        "httpMethod": {
                                          "type": "string"
                                        },
                                        "statusCode": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "links": {
                                      "type": "object",
                                      "properties": {
                                        "alt": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type",
                                    "attributes",
                                    "links"
                                  ]
                                }
                              },
                              "location": {
                                "type": "object",
                                "properties": {
                                  "ip": {
                                    "type": "string"
                                  },
                                  "countryName": {
                                    "type": "string"
                                  },
                                  "regionName": {
                                    "type": "string"
                                  },
                                  "city": {}
                                }
                              }
                            }
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            }
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string"
                              },
                              "format": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "type",
                          "id",
                          "attributes",
                          "links",
                          "message"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Initialize_variables": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DCELogsIngestionURL",
                    "type": "string",
                    "value": "@parameters('DCELogsIngestionURL')"
                  },
                  {
                    "name": "DCRImmutableID",
                    "type": "string",
                    "value": "@parameters('DCRImmutableID')"
                  },
                  {
                    "name": "DCRStreamName",
                    "type": "string",
                    "value": "Custom-atlassian_org_CL"
                  }
                ]
              }
            },
            "HTTP": {
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "@{variables('DCELogsIngestionURL')}/dataCollectionRules/@{variables('DCRImmutableID')}/streams/@{variables('DCRStreamName')}?api-version=2023-01-01",
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": [
                  {
                    "TimeGenerated": "@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ssZ')}",
                    "data": "@{triggerBody()?['data']}"
                  }
                ],
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://monitor.azure.com/"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON": {
              "runAfter": {},
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "time": {
                          "type": "string"
                        },
                        "action": {
                          "type": "string"
                        },
                        "actor": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "picture": {
                              "type": "string"
                            },
                            "links": {
                              "type": "object",
                              "properties": {
                                "alt": {
                                  "type": "string"
                                },
                                "self": {
                                  "type": "string"
                                }
                              }
                            },
                            "auth": {
                              "type": "object",
                              "properties": {
                                "authType": {
                                  "type": "string"
                                },
                                "tokenId": {
                                  "type": "string"
                                },
                                "tokenName": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "context": {
                          "type": "array"
                        },
                        "container": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {
                                  "traceId": {
                                    "type": "string"
                                  },
                                  "fullPath": {
                                    "type": "string"
                                  },
                                  "siteHostName": {
                                    "type": "string"
                                  },
                                  "query:from": {
                                    "type": "string"
                                  },
                                  "query:to": {
                                    "type": "string"
                                  },
                                  "siteName": {
                                    "type": "string"
                                  },
                                  "httpMethod": {
                                    "type": "string"
                                  },
                                  "statusCode": {
                                    "type": "string"
                                  }
                                }
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "alt": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "attributes",
                              "links"
                            ]
                          }
                        },
                        "location": {
                          "type": "object",
                          "properties": {
                            "ip": {
                              "type": "string"
                            },
                            "countryName": {
                              "type": "string"
                            },
                            "regionName": {
                              "type": "string"
                            },
                            "city": {}
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        }
                      }
                    },
                    "message": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {}
          },
          "DCELogsIngestionURL": {
            "value": "[reference(resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dataCollectionEndpoints_AtlassianOrgDCE_name')), '2023-03-11', 'full').properties.logsIngestion.endpoint]"
          },
          "DCRImmutableID": {
            "value": "[reference(resourceId('Microsoft.Insights/dataCollectionRules', parameters('dataCollectionRules_AtlassianOrgDCR_name')), '2023-03-11', 'full').properties.immutableId]"
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dataCollectionEndpoints_AtlassianOrgDCE_name'))]",
        "[resourceId('Microsoft.Insights/dataCollectionRules', parameters('dataCollectionRules_AtlassianOrgDCR_name'))]"
      ]
    }
  ]
}
